In [1]:
#Escribe un código que lee la lista siguiente y realiza:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor 
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

tamano = len(lista)
mayor = max(lista)
menor = min(lista)
suma = sum(lista)
print(f"La lista tiene {tamano} números, donde el mayor es {mayor} y el menor es {menor}. La suma de los valores es {suma}.")

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743.

In [ ]:
# Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:
def tabla_multiplicar(numero):
    for i in range(1, 11):
        resultado = numero * i
        print(f"{numero} x {i} = {resultado}")
numero_usuario = int(input("Ingrese un número entero para generar su tabla de multiplicar: "))
tabla_multiplicar(numero_usuario)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [7]:
#Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

num=[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def multiplos_de_tres(lista):
    nueva_lista = []
    for numero in lista:
        if numero % 3 == 0:
            nueva_lista.append(numero)
    return nueva_lista

multiplos_de_tres(num)

[24, 99]

In [10]:
#Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cuadrados = list(map(lambda x: x**2, numeros))
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
#Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas ingresadas por los jueces.
notas = []
for i in range(5):
    nota = float(input(f"Ingrese la nota {i+1}: "))
    notas.append(nota)
notas

[4.0, 5.0, 6.0, 7.0, 8.0]

In [14]:
"""Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:

# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.)

"""

notas = []
def analizar_notas(notas):
    for i in range(4):
        nota = float(input(f"Ingrese la nota {i+1}: "))
        notas.append(nota)
    notas
    mayor = max(notas)
    menor = min(notas)
    media = sum(notas) / len(notas)
    situacion = "Aprobado(a)" if media >= 6.0 else "Reprobado(a)"
    return mayor, menor, media, situacion
mayor, menor, media, situacion = analizar_notas(notas)
print(f'El estudiante obtuvo una media de {media}, con la mayor nota de {mayor} puntos y la menor nota de {menor} puntos y fue {situacion}')

El estudiante obtuvo una media de 6.5, con la mayor nota de 10.0 puntos y la menor nota de 1.0 puntos y fue Aprobado(a)

In [15]:
"""Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:

nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()

"""
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

def nalumn(nombres, apellidos):
    nombres_normalizados = list(map(lambda x: x.capitalize(), nombres))
    apellidos_normalizados = list(map(lambda x: x.capitalize(), apellidos))
    nombres_completos = [f"{n} {a}" for n, a in zip(nombres_normalizados, apellidos_normalizados)]
    return nombres_completos
nalumn(nombres, apellidos)

['Juan Silva', 'Maria Sosa', 'José Tavares']

In [16]:
"""
Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó. En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"
"""
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]

def calcula_puntos(marcados, recibidos):
    puntos = 0
    for g_marcados, g_recibidos in zip(marcados, recibidos):
        if g_marcados > g_recibidos:
            puntos += 3
        elif g_marcados == g_recibidos:
            puntos += 1
    puntos_maximos = len(marcados) * 3
    desempeno = (puntos / puntos_maximos) * 100
    return puntos, desempeno

puntos, desempeno = calcula_puntos(goles_marcados, goles_recibidos)
print(f"La puntuación del equipo fue {puntos} y su rendimiento fue {desempeno}%")

La puntuación del equipo fue 7 y su rendimiento fue 46.666666666666664%

In [ ]:
"""  
Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300], respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km, crea tres funciones: la primera función calcula los gastos de hotel (gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y la tercera los gastos de paseo y alimentación (gasto_paseo).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.

# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde 
# Recife costaría [gastos] reales.


"""

dias = int(input("Ingrese la cantidad de días que durará el viaje: "))
ciudad = input("Ingrese la ciudad a la que desea viajar (Salvador, Fortaleza, Natal, Aracaju): ")
def gasto_hotel(dias):
    return dias * 150
def gasto_gasolina(distancia):
    consumo = distancia / 14
    return consumo * 5 * 2
def gasto_paseo(ciudad, dias):
    gastos_por_dia = {
        "Salvador": 200,
        "Fortaleza": 400,
        "Natal": 250,
        "Aracaju": 300
    }
    return gastos_por_dia[ciudad] * dias
distancias = {
    "Salvador": 850,
    "Fortaleza": 800,
    "Natal": 300,
    "Aracaju": 550
}
gastos_totales = (gasto_hotel(dias) +
                  gasto_gasolina(distancias[ciudad]) + gasto_paseo(ciudad, dias))
print(f"Con base en los gastos definidos, un viaje de {dias} días a {ciudad} desde Recife costaría {gastos_totales} reales.")

Con base en los gastos definidos, un viaje de 3 días a Salvador desde Recife costaría 1657.142857142857 reales.

In [ ]:
"""  
Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP). Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista. Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la función integrada filter() recibe una función (en nuestro caso, una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?' por espacio.

Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.

"""
frase = input("Ingrese una frase: ")
frase_tratada = frase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ')
palabras = frase_tratada.split()
palabras_filtradas = list(filter(lambda x: len(x) >= 5, palabras))

print(type(palabras))
print(type(palabras_filtradas))
print(palabras_filtradas)

<class 'list'>
<class 'list'>
[<function <lambda> at 0x000001D54FE0EDE0>, ['Aprender', 'Python', 'aquí', 'en', 'Alura', 'es', 'muy', 'bueno']]

In [1]:
"""
Recibimos una demanda de la institución educativa de nuestro proyecto que nos proporcionó una lista de 20 estudiantes y sus respectivos promedios finales. Aquí, necesitamos seleccionar estudiantes que tengan un promedio final mayor o igual a 9.0. Estos estudiantes serán premiados con una beca de estudios para el próximo año escolar.

Para filtrar los datos, debemos generar un diccionario cuyas claves son los nombres y los valores son los promedios de los estudiantes seleccionados. Estos son los datos recibidos:

nombres_estudiantes = ["Enrique Montero", "Luna Pereira", "Anthony Silva", "Leticia Fernandez", "Juan González", "Maira Caldera", "Diana Carvajo", "Mariana Rosas", "Camila Fernandez", "Levi Alves", "Nicolás Rocha", "Amanda Navas",  "Lara Morales", "Leticia Olivera", "Lucas Navas", "Lara Arteaga", "Beatriz Martinez", "Victor Acevedo", "Stephany Hernández", "Gustavo Lima"]

medias_estudiantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 9.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 10.0, 8.2]
¿Cuál de los códigos a continuación representa la forma correcta de generar el diccionario con los estudiantes seleccionados?

Tip ⇒ Utiliza a forma:

{expresion_llave: expresion_valor for item in iterable if condicion}
"""
nombres_estudiantes = ["Enrique Montero", "Luna Pereira", "Anthony Silva", "Leticia Fernandez", "Juan González", "Maira Caldera", "Diana Carvajo", "Mariana Rosas", "Camila Fernandez", "Levi Alves", "Nicolás Rocha", "Amanda Navas",  "Lara Morales", "Leticia Olivera", "Lucas Navas", "Lara Arteaga", "Beatriz Martinez", "Victor Acevedo", "Stephany Hernández", "Gustavo Lima"]

medias_estudiantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 9.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 10.0, 8.2]
becados = {nombre: media for nombre, media in zip(nombres_estudiantes, medias_estudiantes) if media >= 9.0}
becados

# Salida: {'Anthony Silva': 9.1, 'Stephany Hernández': 10.0}

{'Anthony Silva': 9.1, 'Diana Carvajo': 9.0, 'Stephany Hernández': 10.0}

In [2]:
#Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:

lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

lista_sumas = [sum(sublista) for sublista in lista_de_listas]
lista_sumas

[24, 10, 16]

In [4]:
#Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
tercer_elemento = [tupla[2] for tupla in lista_de_tuplas]
tercer_elemento

[81, 67, 83]

In [ ]:
#A partir de la lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crea un código para generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
"""
solucion con comprhesion list 
lista_tuplas =[ (index , nombre) for index, nombre in enumerate(lista)]
lista_tuplas
"""
lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
print(lista_de_tuplas)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [8]:
"""  
Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la siguiente lista de tuplas:

alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]


"""
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

apartamentos = [tupla[1] for tupla in alquiler if tupla[0] == 'Apartamento']
apartamentos

[1700, 1400, 1900]

In [12]:
"""
Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las claves estén en la lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] y los valores estén en gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

"""
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

presupuesto = {mes: gasto for mes, gasto in zip(meses, gasto)}
presupuesto

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [16]:
""" 
 Una tienda tiene una base de datos con la información de venta de cada representante y de cada año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000. La tienda proporcionó una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a realizar la filtración de los datos a través de un código:

ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
"""
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
ventas_filtradas = [venta for venta in ventas if venta[0]=='2022' and venta[1]>6000]
ventas_filtradas

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [19]:
"""  
Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base de datos y le gustaría etiquetar los datos de la siguiente manera:

Glucosa igual o inferior a 70: 'Hipoglicemia'
Glucosa entre 70 y 99: 'Normal'
Glucosa entre 100 y 125: 'Alterada'
Glucosa superior a 125: 'Diabetes'
La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la comprensión de listas que contenga la etiqueta y el valor de la glucemia en cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
"""

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]


etiquetas_glicemia = [('Hipoglicemia' if valor <= 70 else 'Normal' if 70 < valor <= 99 else 'Alterada' if 100 <= valor <= 125 else 'Diabetes', valor) for valor in glicemia]
etiquetas_glicemia

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [25]:
#Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del producto divididos en las siguientes listas:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

#La plataforma necesita estructurar estos datos en una tabla que contenga el valor total de la venta, que se obtiene multiplicando la cantidad por el precio unitario. Además, la tabla debe contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.
#Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo la primera tupla el encabezado de la tabla.
tabla_ventas = [('id', 'cantidad', 'precio', 'total')] + [(i, c, p, c * p) for i, c, p in zip(id, cantidad, precio)]
tabla_ventas

[('id', 'cantidad', 'precio', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [27]:
"""   
Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil.
En una de las tablas de registro de las sucursales, hay una columna que contiene la información de a qué estado pertenece: 
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE'].

La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente recibiendo nuevos registros y al gerente le gustaría tener la información actualizada de la cantidad de sucursales en cada estado.

A partir de la columna con la información de los estados
crea un diccionario utilizando la comprensión de diccionarios (dict comprehension) con la clave siendo el nombre de un estado y el valor siendo la cantidad de veces que aparece el estado en la lista.

Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de las listas tenga el nombre de solo un estado con valores repetidos.


"""
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']

cant_estados= {estado: estados.count(estado) for estado in set(estados)}

cant_estados

{'VER': 2, 'PUE': 7, 'OAX': 6, 'CMX': 8}

In [32]:
"""  
En esa misma tabla de registro de sucursales, hay una columna con la información de la cantidad de personas empleadas y el gerente quisiera tener un agrupamiento de la suma de esas personas para cada estado. Las informaciones contenidas en la tabla son:

 empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]

A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los estados únicos y los valores son las listas con el número de empleados referentes al estado. También crea un diccionario en el que las claves son los nombres de los estados y los valores son la suma de empleados por estado.


"""
empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]

dict_empleados = {estado: [empleado[1] for empleado in empleados if empleado[0] == estado] for estado in set([e[0] for e in empleados])}
print(dict_empleados)
suma_empleados = {estado: sum([empleado[1] for empleado in empleados if empleado[0] == estado]) for estado in set([estado[0] for estado in empleados])}
print(suma_empleados)

{'VER': [13, 9], 'PUE': [9, 6, 4, 8, 5, 10, 12], 'OAX': [8, 9, 7, 12, 8, 14], 'CMX': [16, 10, 7, 11, 9, 12, 7, 10]}
{'VER': 22, 'PUE': 54, 'OAX': 58, 'CMX': 82}

In [ ]:
empleados = {'José': 2000, 'Ana': 2200, 'Juan': 2500, 'Maria': 3800}

<class 'TypeError'> Erro: 'int' object is not subscriptable
Proceso concluído!